TietokoneWindowsForms/TietokoneWindowsForms/Connected Services/ServiceReference1/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComputerDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CASEID" type="xs:int" />
      <xs:element minOccurs="0" name="CPUID" type="xs:int" />
      <xs:element minOccurs="0" name="GPUID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MOBOID" type="xs:int" />
      <xs:element minOccurs="0" name="PSUID" type="xs:int" />
      <xs:element minOccurs="0" name="RAMID" type="xs:int" />
      <xs:element minOccurs="0" name="RAMamount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComputerDetails" nillable="true" type="tns:ComputerDetails" />
</xs:schema>